<p>{{ serie.name }}</p>
<p>{{ serie.description }}</p>
<p>{{ serie.creationDate | date('d-m-Y') }}</p>
<p>{{ serie.releaseDate | date('d-m-Y') }}</p>
<P>{{ serie.durationTime }}</P>

{% for episode in serie.episodes %}
    <p>{{ episode.description }}</p>
{% endfor %}



{#{% include"footeur.html.twig" %}#}
{#{% extends"layout.html.twig" %}#}
{#{% block content %}#}
      {#<h1>Vive l'héritage dans twig !</h1>#}
{#{% endblock %}#}

{#{{ render(controller('AppBundle:Controller:menuAction')) }}#}

