<html>
<head>
    <titre></titre>
</head>
<body>
<p>{{ serie.name }}</p>
<p>{{ serie.description }}</p>
<p>{{ serie.creationDate | date('d-m-Y') }}</p>
<p>{{ serie.releaseDate | date('d-m-Y') }}</p>
<P>{{ serie.durationTime }}</P>

</body>
</html>