<html>
<head>
    <titre></titre>
</head>
<body>
<p>{{ serie.name }}</p>
<p>{{ serie.description }}</p>
<p>{{ serie.creationDate }}</p>
<p>{{ serie.releaseDate }}</p>
<P>{{ serie.duration }}</P>

</body>
</html>